@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - var(--animation-offset)));
    }
}

:root {
    --gap-size: 2rem;
    --animation-offset: 1rem;
    --container-width: 200%;
    --container-max-width: 3000px
}

@media (max-width: 768px) {
    :root {
        --gap-size: 1rem;
        --animation-offset: 0.5rem;
        --container-width: max-content;
    }
}

.horizontal-scrolling-items {
    display: flex;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: var(--container-width);
    gap: var(--gap-size);
}